@import "https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Poppins:wght@700&family=Roboto&display=swap";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif; }

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none; }

p {
  font-size: 0.9em;
  color: #797979; }

p,
span {
  font-family: "Roboto", sans-serif; }

input {
  outline: none; }

.text-1 {
  color: #797979;
  font-family: "Dosis", sans-serif; }

.text-2 {
  color: #bbb;
  font-size: 14px;
  font-family: "Roboto", sans-serif; }

.app-logo {
  height: 40vmin;
  pointer-events: none; }

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear; } }
.input-text-content .field {
  position: relative;
  border-radius: 20px;
  border: 1px solid #e1e1e1; }
  .input-text-content .field .icon {
    position: absolute;
    border: 1px solid rgba(253, 253, 253, 0);
    right: 0;
    cursor: pointer; }
.input-text-content span,
.input-text-content input {
  font-family: "Roboto", sans-serif; }
.input-text-content span {
  color: #797979;
  font-size: 15px; }
.input-text-content input {
  color: #797979;
  border: 0;
  border-radius: 20px; }
.input-text-content .google-btn {
  border-radius: 20px;
  border: 1px solid #e1e1e1;
  background-color: white; }
  .input-text-content .google-btn span {
    color: #2B8DD0; }

.line h6 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  line-height: 0.1em;
  margin: 10px 0 5px; }
.line h6 span {
  background: white;
  padding: 0 10px;
  color: #bbb; }

.f-c-link-b span,
.f-c-link-b a {
  color: #797979;
  font-size: 15px; }
.f-c-link-b a:hover {
  color: #2B8DD0; }

.error .field {
  color: #c46363;
  border: 1px solid #c46363; }
.error .error-message span {
  color: #c46363;
  font-size: .8em; }

.success .field {
  color: #419d5a;
  border: 1px solid #419d5a; }

.hidden {
  visibility: hidden; }

.shared-container {
  background-color: #ecf6fe; }

.progress-bar {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  overflow: hidden; }

.progress {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: #fcfdfe;
  border-radius: 2px;
  overflow: hidden; }

.progress .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fcfdfe;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear; }

.progress .indeterminate {
  background-color: #a7d1ed; }

.error-container {
  border-radius: 10px;
  background-color: rgba(255, 172, 172, 0.719);
  padding: 15px; }
  .error-container .error {
    flex-grow: 1; }
  .error-container i {
    color: white;
    font-size: 15px;
    cursor: pointer; }

.progress .indeterminate::before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }

.progress .indeterminate::after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s; }

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@-webkit-keyframes slideLeft {
  from {
    left: 0; }
  to {
    left: -100%; } }
@keyframes slideLeft {
  from {
    left: 0; }
  to {
    left: -100%; } }
@-webkit-keyframes zeroLeft {
  from {
    left: -100%; }
  to {
    left: 0; } }
@keyframes zeroLeft {
  from {
    left: -100%; }
  to {
    left: 0; } }
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #53a4db;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s; }

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s; }

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0; }

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px; }
  50%, 100% {
    top: 24px;
    height: 32px; } }
.empty-container {
  background-color: #ecf6fe; }
  .empty-container .empty-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin); }

.input-text-content {
  /* Customize the label (the agree-container) */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */ }
  .input-text-content .agree-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .input-text-content .agree-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .input-text-content .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #ccc;
    background-color: #fefefe; }
  .input-text-content .agree-container:hover input ~ .checkmark {
    background-color: #eee;
    border: 0; }
  .input-text-content .agree-container input:checked ~ .checkmark {
    background-color: #2B8DD0;
    border: 0; }
  .input-text-content .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  .input-text-content .agree-container input:checked ~ .checkmark:after {
    display: block; }
  .input-text-content .agree-container .checkmark:after {
    left: 10px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .input-text-content .td-st a {
    text-decoration: underline !important;
    color: #bbb;
    font-weight: 600; }
    .input-text-content .td-st a:hover {
      color: #53a4db; }

.primary-button {
  background-color: #2B8DD0;
  color: white;
  border: 0;
  font-family: "Poppins", sans-serif; }
  .primary-button:hover {
    background-color: #2884c3; }

.primary-button.disabled {
  background-color: #d1e7f6; }

.loginContainer {
  background: #ecf6fe url(../images/BD1.png) center/85em 50em no-repeat;
  padding: 0; }
  .loginContainer .row {
    margin: 0;
    padding: 0; }
    .loginContainer .row .col-6 {
      margin: 0;
      padding: 0; }
  .loginContainer .loginContent {
    height: 100vh; }
    .loginContainer .loginContent .left {
      background: #207cc6; }
      .loginContainer .loginContent .left .c-lf {
        width: 95%;
        height: 100%;
        padding: 60px; }
        .loginContainer .loginContent .left .c-lf h1 {
          color: #ecf6fe;
          font-size: 3em; }
        .loginContainer .loginContent .left .c-lf p {
          font-size: 2em;
          color: white;
          font-family: "Dosis", sans-serif; }
          .loginContainer .loginContent .left .c-lf p span {
            text-transform: uppercase;
            color: #0bda6c;
            font-family: "Dosis", sans-serif; }
        .loginContainer .loginContent .left .c-lf h4 {
          color: white;
          font-family: "Dosis", sans-serif;
          font-size: 2em; }
  .loginContainer .c-c-link a {
    color: #797979; }
    .loginContainer .c-c-link a:hover {
      color: #2B8DD0; }

.c-f-content {
  width: 30em;
  background-color: white;
  box-shadow: 0 0 7px 0 #e1e1e1; }

.c-f-i-content {
  max-height: calc(100vh - 25px);
  overflow-y: scroll;
  overflow-x: hidden; }

.c-f-i-content::-webkit-scrollbar {
  width: 3px; }

.c-f-i-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(233, 233, 233, 0.3);
  border-radius: 0; }

.c-f-i-content::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #d1e7f6; }

.signup-container {
  background-color: #ecf6fe; }

.email-sent h1 {
  color: #48AC62; }
  .email-sent h1 i {
    font-size: 2em; }
.email-sent small {
  font-size: .8em;
  color: #797979; }
.email-sent .error {
  color: #c46363; }

.doctor-container {
  background-color: #ecf6fe; }

/*# sourceMappingURL=style.css.map */
