.loginContainer {
  @extend %login-bg-gr-1;
  padding: 0;

  .row {
    margin: 0;
    padding: 0;
  
    .col-6 {
      margin: 0;
      padding: 0;
    }
  }

  .loginContent {
    height: 100vh;

    .left {
      background: $bg1;

      .c-lf {
        width: 95%;
        height: 100%;
        padding: 60px;

        h1{
          color: $sColor;
          font-size: 3em;
          border: 1px solid red;
        }
        p {
          font-size: 2em;
          color: white;
          border: 1px solid red;
          font-family: $dosis;
          span {
            text-transform: uppercase;
            color: $green;
            font-family: $dosis;
          }
        }


        h4 {
          color: white;
          font-family: $dosis;
          border: 1px solid red;
          font-size: 2em;
        }
      }
    }
  }


  .c-c-link{
    a {
      color: $textColor-1;
      &:hover {
        color: $pColor;
      }
    }
  }
}

.c-f-content {
  width: 30em;
  background-color: white;
  box-shadow: 0 0 7px 0 $bColor;
}

.c-f-i-content {
  max-height: calc(100vh - 25px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.c-f-i-content::-webkit-scrollbar {
  width: 3px;
}

.c-f-i-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(233, 233, 233, 0.3);
  border-radius: 0;
}

.c-f-i-content::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: lighten($pColor, $amount: 40);
}