.loginContainer {
  background-color: $sColor;
  padding: 0;

  .row {
    margin: 0;
    padding: 0;
  
    .col-6 {
      margin: 0;
      padding: 0;
    }
  }

  .loginContent {
    height: 100vh;

    .loginLeft {
      background: $bg1;

      .c-lf {
        width: 95%;
        height: 100%;
        background-image: url(../images/BD1.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        padding: 60px;

        h1{
          color: $sColor;
          font-size: 3em;
        }
        p {
          font-size: 2em;
          color: white;
          font-family: $dosis;
          span {
            text-transform: uppercase;
            color: $green;
            font-family: $dosis;
          }
        }


        h4 {
          color: white;
          font-family: $dosis;
          font-size: 2em;
        }
      }
    }

    .loginRight {
      .c-f-content {
        width: 25em;
      }
    }
  }


  .c-c-link{
    a {
      color: $textColor-1;
      &:hover {
        color: $pColor;
      }
    }
  }
}
