$pColor: #207cc6;
$sColor: #ecf6fe;
$tColor: white;
$pColor-2: #62ade8;
$bColor: #e1e1e1;
$textColor-1: #797979;
$textColor-2: #bbb;
$green: rgb(11, 218, 108);
$bg1: #207cc6;
$dangerColor: rgb(196, 99, 99);
$successColor: rgb(65, 157, 90);
$color_accent_1: lighten($pColor, 20%);

//Fonts
$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;
$dosis: "Dosis", sans-serif;
