$pColor: #207cc6;
$sColor: #ecf6fe;
$tColor: white;
$pColor-2: #62ade8;
$bColor: #e1e1e1;
$textColor-1: #797979;
$textColor-2: #bbb;
$bg1: linear-gradient(0deg, rgb(48 125 207 / 60%), rgb(64 125 216 / 60%)), rgb(70 138 212);

//Fonts
$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;
